# VacationPy
___

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
# Load cities.csv to a DataFrame

cities_data = pd.read_csv("Cities.csv")

# Make sure to handle NaN values

cities_data = cities_data.dropna()

cities_data = cities_data.set_index("City_ID")

cities_data

,City,Country,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed
City_ID,,,,,,,,
0,Kapaa,US,22.08,-159.32,80.60,61,40,10.29
1,Newala,TZ,-10.94,39.28,64.76,100,41,4.14
2,Tuktoyaktuk,CA,69.45,-133.04,30.20,80,90,8.05
3,Busselton,AU,-33.65,115.33,48.00,98,68,25.50
4,Yerofey pavlovich,RU,53.97,121.97,43.09,57,1,0.69
...,...,...,...,...,...,...,...,...
483,Grand-santi,GF,4.25,-54.38,76.08,96,99,3.24
484,Yakeshi,CN,49.28,120.73,46.42,54,32,2.95
485,Kontagora,NG,10.40,5.47,86.97,42,15,3.62
486,Scottsbluff,US,41.87,-103.67,66.20,28,40,6.93
487,Mahon,ES,39.89,4.27,64.40,100,100,3.36

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Configure gmaps with API key

gmaps.configure(api_key = g_key)

In [6]:
# Convert 'Lat' and 'Lng' and Humidity to float and Store 

locations = cities_data[["Latitude", "Longitude"]].astype(float)

Humidities = cities_data["Humidity"].astype(float)

In [7]:
# Create a poverty Heatmap layer

fig = gmaps.figure(map_type="HYBRID")

heat_layer = gmaps.heatmap_layer(locations, 
                                 weights = Humidities, 
                                 dissipating = False, 
                                 opacity = 0.8,
                                 max_intensity=200,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
narrowed_city_df = cities_data.loc[
                                    (cities_data["Max Temp"] < 85) & 
                                    (cities_data["Max Temp"] > 65) & 
                                    (cities_data["Wind Speed"] < 10) & 
                                    (cities_data["Cloudiness"] < 10)
                                  ].dropna()
narrowed_city_df = narrowed_city_df.sort_index()
narrowed_city_df

,City,Country,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed
City_ID,,,,,,,,
5,Rajpipla,IN,21.87,73.50,81.86,66,0,4.09
79,Fatehpur,IN,25.93,80.80,78.31,49,0,6.51
106,Namibe,AO,-15.20,12.15,77.74,69,0,2.01
113,Dingle,PH,11.00,122.67,80.06,82,4,3.11
129,Faya,SA,18.39,42.45,66.20,88,8,1.41
160,Sarangani,PH,5.40,125.46,83.70,74,3,7.72
168,Kidal,ML,18.44,1.41,84.79,25,3,1.61
183,Anisoc,GQ,1.87,10.77,71.76,95,7,1.34
184,Mangrol,IN,21.12,70.12,79.95,88,0,9.57
216,Alofi,NU,-19.06,-169.92,80.40,72,0,9.37
238,Gondanglegi,ID,-7.75,112.01,75.52,90,0,6.17
258,Brufut,GM,13.38,-16.75,73.40,88,0,9.17
262,Taitung,TW,22.76,121.14,81.91,57,7,4.16
302,Buba,GW,11.58,-15.00,75.65,84,0,5.75
365,Madhupur,IN,24.25,86.65,81.23,61,0,4.00
371,Saiha,IN,22.48,92.97,66.74,88,0,2.77
373,Manggar,ID,-2.88,108.27,81.97,81,4,5.50
390,Ormara,PK,25.21,64.64,84.25,58,0,8.68
410,Labuhan,ID,-6.88,112.21,78.03,88,0,6.55
412,Razole,IN,16.48,81.83,81.19,91,8,3.65
426,Taybad,IR,34.74,60.78,71.51,30,0,7.49
430,Nanga eboko,CM,4.68,12.37,71.85,87,4,0.98
434,Mpanda,TZ,-6.37,31.04,65.25,93,0,0.87
463,Trat,TH,12.50,102.50,78.55,91,3,1.32
468,Dunmore town,BS,25.50,-76.65,77.32,64,0,4.76

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
# Create DataFrame called hotel_df to store hotel names along with city, country and coordinates

hotel_df = narrowed_city_df[["City", "Country", "Max Temp", "Latitude", "Longitude"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                 City Country  Max Temp  Latitude  Longitude Hotel Name
City_ID
5            Rajpipla      IN     81.86     21.87      73.50
79           Fatehpur      IN     78.31     25.93      80.80
106            Namibe      AO     77.74    -15.20      12.15
113            Dingle      PH     80.06     11.00     122.67
129              Faya      SA     66.20     18.39      42.45
160         Sarangani      PH     83.70      5.40     125.46
168             Kidal      ML     84.79     18.44       1.41
183            Anisoc      GQ     71.76      1.87      10.77
184           Mangrol      IN     79.95     21.12      70.12
216             Alofi      NU     80.40    -19.06    -169.92
238       Gondanglegi      ID     75.52     -7.75     112.01
258            Brufut      GM     73.40     13.38     -16.75
262           Taitung      TW     81.91     22.76     121.14
302              Buba      GW     75.65     11.58     -15.00
365          Madhupur      IN     81.23     24.25      86.65
371             Saiha      IN     66.74     22.48      92.97
373           Manggar      ID     81.97     -2.88     108.27
390            Ormara      PK     84.25     25.21      64.64
410           Labuhan      ID     78.03     -6.88     112.21
412            Razole      IN     81.19     16.48      81.83
426            Taybad      IR     71.51     34.74      60.78
430       Nanga eboko      CM     71.85      4.68      12.37
434            Mpanda      TZ     65.25     -6.37      31.04
463              Trat      TH     78.55     12.50     102.50
468      Dunmore town      BS     77.32     25.50     -76.65

In [10]:
# Build the base URL for google apis
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Set parameters to search for a hotel

params = { "radius": 5000,
           "types": "lodging",
           "key": g_key
         }

# use iterrows to iterate through pandas dataframe

for index, row in hotel_df.iterrows():
    
    # get latitude , longitude from df
    
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    params["location"] = f"{lat},{lng}"
    
    # make request and print url
    response = requests.get(base_url, params=params)
    
    # Convert to json
    response_json = response.json()
    
    # Grab the first hotel from the results and store the name
    
    try:
        hotel_df.loc[index, "Hotel Name"] = response_json["results"][0]["name"]
        
    except (KeyError, IndexError):
        
        print("Missing field/result... skipping.")

hotel_df

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

,City,Country,Max Temp,Latitude,Longitude,Hotel Name
City_ID,,,,,,
5,Rajpipla,IN,81.86,21.87,73.50,Government Guest House
79,Fatehpur,IN,78.31,25.93,80.80,City Club
106,Namibe,AO,77.74,-15.20,12.15,Chik-Chik Namibe
113,Dingle,PH,80.06,11.00,122.67,Camp Pasica
129,Faya,SA,66.20,18.39,42.45,Ù…Ù‚Ø¨Ø±Ø© Ø§Ù„ Ù…Ø¬Ù…Ù„
160,Sarangani,PH,83.70,5.40,125.46,Ballistic Islet
168,Kidal,ML,84.79,18.44,1.41,
183,Anisoc,GQ,71.76,1.87,10.77,
184,Mangrol,IN,79.95,21.12,70.12,Hotel The Royal Honours
216,Alofi,NU,80.40,-19.06,-169.92,Taloa Heights
238,Gondanglegi,ID,75.52,-7.75,112.01,Gg. Munasir Homestay
258,Brufut,GM,73.40,13.38,-16.75,Sheraton Gambia Hotel Resort & Spa
262,Taitung,TW,81.91,22.76,121.14,Taitung Bali Suites Hotel
302,Buba,GW,75.65,11.58,-15.00,Pousada Bela Vista
365,Madhupur,IN,81.23,24.25,86.65,Hotel Kumar International
371,Saiha,IN,66.74,22.48,92.97,"Circuit House, Siaha"
373,Manggar,ID,81.97,-2.88,108.27,Guest Hotel
390,Ormara,PK,84.25,25.21,64.64,
410,Labuhan,ID,78.03,-6.88,112.21,bador sepret
412,Razole,IN,81.19,16.48,81.83,Hotel Somisetty Landmark Konaseema
426,Taybad,IR,71.51,34.74,60.78,Ù„ÛŒ Ù¾ÙˆØ´ jean center
430,Nanga eboko,CM,71.85,4.68,12.37,Akila Hotel
434,Mpanda,TZ,65.25,-6.37,31.04,CH Hotel - Mpanda
463,Trat,TH,78.55,12.50,102.50,à¸ªà¸§à¸™à¸«à¸™à¸´à¸‡-à¸­à¸±à¸¨
468,Dunmore town,BS,77.32,25.50,-76.65,Coral Sands Hotel

In [11]:
# Create list of hotels to use for hover_text

hotels = []

for hotel in hotel_df["Hotel Name"]:
    hotels.append(hotel)

print(hotels)

['Government Guest House', 'City Club', 'Chik-Chik Namibe', 'Camp Pasica', 'Ù…Ù‚Ø¨Ø±Ø© Ø§Ù„ Ù…Ø¬Ù…Ù„', 'Ballistic Islet', '', '', 'Hotel The Royal Honours', 'Taloa Heights', 'Gg. Munasir Homestay', 'Sheraton Gambia Hotel Resort & Spa', 'Taitung Bali Suites Hotel', 'Pousada Bela Vista', 'Hotel Kumar International', 'Circuit House, Siaha', 'Guest Hotel', '', 'bador sepret', 'Hotel Somisetty Landmark Konaseema', 'Ù„ÛŒ Ù¾ÙˆØ´ jean center', 'Akila Hotel', 'CH Hotel - Mpanda', 'à¸ªà¸§à¸™à¸«à¸™à¸´à¸‡-à¸­à¸±à¸¨', 'Coral Sands Hotel']

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [13]:
# Add marker layer ontop of heat map

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info, hover_text = hotels)
fig.add_layer(marker_layer)

# Display Map

fig

Figure(layout=FigureLayout(height='420px'))