# VacationPy
___

In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [7]:
# Load cities.csv to a DataFrame

cities_data = pd.read_csv("Cities.csv")
#cities_data.set_index("City_ID")

# Make sure to handle NaN values

cities_data = cities_data.dropna()
cities_data.set_index("City_ID")
cities_data

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95
...,...,...,...,...,...,...,...,...,...,...
542,542,scalea,36,IT,1528905631,100,39.82,15.79,70.06,5.30
543,543,san andres,68,PH,1528905632,100,13.32,122.68,83.47,22.64
544,544,muisne,92,EC,1528905633,84,0.61,-80.02,76.90,4.63
545,545,ati,20,TD,1528905633,25,13.21,18.34,104.53,4.97
546,546,san luis,0,AR,1528905472,53,-33.30,-66.34,42.43,2.62

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
# Configure gmaps with API key

gmaps.configure(api_key = g_key)

In [9]:
# Convert 'Lat' and 'Lng' and Humidity to float and Store 

locations = cities_data[["Latitude", "Longitude"]].astype(float)

Humidities = cities_data["Humidity"].astype(float)

KeyError: "None of [Index(['Latitude', 'Longitude'], dtype='object')] are in the [columns]"

In [10]:
# Create a poverty Heatmap layer

fig = gmaps.figure(map_type="HYBRID")

heat_layer = gmaps.heatmap_layer(locations, 
                                 weights = Humidities, 
                                 dissipating = False, 
                                 opacity = 0.8,
                                 max_intensity=200,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

NameError: name 'locations' is not defined

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
narrowed_city_df = cities_data.loc[
                                    (cities_data["Max Temp"] < 85) & 
                                    (cities_data["Max Temp"] > 65) & 
                                    (cities_data["Wind Speed"] < 10) & 
                                    (cities_data["Cloudiness"] < 10)
                                  ].dropna()
narrowed_city_df.set_index("City_ID")

,City,Country,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed
City_ID,,,,,,,,
29,Najran,SA,17.49,44.13,71.60,35,5,4.38
40,Umm lajj,SA,25.02,37.27,76.10,39,7,5.84
105,Pecos,US,31.42,-103.49,79.00,9,1,3.36
141,Saint-philippe,RE,-21.36,55.77,77.00,83,3,6.93
192,Saint-pierre,RE,-21.34,55.48,77.00,83,8,6.93
206,Saint george,US,37.10,-113.58,72.00,26,1,5.82
222,Bataipora,BR,-22.30,-53.27,75.54,66,7,4.09
224,Amarpatan,IN,24.32,80.98,75.36,23,0,3.06
235,Lom sak,TH,16.78,101.24,82.00,64,5,1.23
240,Howard springs,AU,-12.50,131.05,84.00,78,7,5.82
247,Kununurra,AU,-15.77,128.73,80.60,78,7,4.00
265,Mount isa,AU,-20.73,139.50,82.40,34,0,8.05
291,Destin,US,30.39,-86.50,80.60,39,1,8.05
316,Tezpur,IN,26.63,92.80,69.55,36,3,2.26
317,Ormara,PK,25.21,64.64,72.36,81,0,9.64
339,Arlit,NE,18.74,7.39,84.72,12,5,7.23
343,Inhambane,MZ,-23.86,35.38,73.27,71,0,6.93
352,Dawei,MM,14.08,98.20,75.45,77,4,4.43
358,Bosaso,SO,11.28,49.18,81.45,75,2,2.15
363,Inverell,AU,-29.78,151.12,75.99,66,0,3.06
364,La palma,US,33.85,-118.05,81.00,38,1,8.05
365,Ranong,TH,9.97,98.63,78.10,78,4,2.59
392,Doha,QA,25.29,51.53,73.40,38,0,6.93
404,Biltine,TD,14.53,20.92,82.08,13,4,6.53
408,Gudalur,IN,9.68,77.27,70.65,51,9,1.90
419,Acajutla,SV,13.59,-89.83,79.00,84,0,5.99
420,Qeshm,IR,26.96,56.27,71.60,88,0,4.70
421,Yarada,IN,17.65,83.27,81.00,71,0,6.98
425,Coxim,BR,-18.51,-54.76,79.14,67,9,3.94
431,Katherine,AU,-14.47,132.27,82.40,65,0,2.53
456,Sao joao da ponte,BR,-15.93,-44.01,69.42,74,0,2.53
467,Paliyad,IN,22.25,71.57,74.57,60,0,9.04

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Create DataFrame called hotel_df to store hotel names along with city, country and coordinates

hotel_df = narrowed_city_df[["City", "Country", "Max Temp", "Latitude", "Longitude"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                  City Country  Max Temp  Latitude  Longitude Hotel Name
29              Najran      SA     71.60     17.49      44.13
40            Umm lajj      SA     76.10     25.02      37.27
105              Pecos      US     79.00     31.42    -103.49
141     Saint-philippe      RE     77.00    -21.36      55.77
192       Saint-pierre      RE     77.00    -21.34      55.48
206       Saint george      US     72.00     37.10    -113.58
222          Bataipora      BR     75.54    -22.30     -53.27
224          Amarpatan      IN     75.36     24.32      80.98
235            Lom sak      TH     82.00     16.78     101.24
240     Howard springs      AU     84.00    -12.50     131.05
247          Kununurra      AU     80.60    -15.77     128.73
265          Mount isa      AU     82.40    -20.73     139.50
291             Destin      US     80.60     30.39     -86.50
316             Tezpur      IN     69.55     26.63      92.80
317             Ormara      PK     72.36     25.21      64.64
339              Arlit      NE     84.72     18.74       7.39
343          Inhambane      MZ     73.27    -23.86      35.38
352              Dawei      MM     75.45     14.08      98.20
358             Bosaso      SO     81.45     11.28      49.18
363           Inverell      AU     75.99    -29.78     151.12
364           La palma      US     81.00     33.85    -118.05
365             Ranong      TH     78.10      9.97      98.63
392               Doha      QA     73.40     25.29      51.53
404            Biltine      TD     82.08     14.53      20.92
408            Gudalur      IN     70.65      9.68      77.27
419           Acajutla      SV     79.00     13.59     -89.83
420              Qeshm      IR     71.60     26.96      56.27
421             Yarada      IN     81.00     17.65      83.27
425              Coxim      BR     79.14    -18.51     -54.76
431          Katherine      AU     82.40    -14.47     132.27
456  Sao joao da ponte      BR     69.42    -15.93     -44.01
467            Paliyad      IN     74.57     22.25      71.57

In [8]:
# Build the base URL for google apis
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Set parameters to search for a hotel

params = { "radius": 5000,
           "types": "lodging",
           "key": g_key
         }

# use iterrows to iterate through pandas dataframe

for index, row in hotel_df.iterrows():
    
    # get latitude , longitude from df
    
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    params["location"] = f"{lat},{lng}"
    
    # make request and print url
    response = requests.get(base_url, params=params)
    
    # Convert to json
    response_json = response.json()
    
    # Grab the first hotel from the results and store the name
    
    try:
        hotel_df.loc[index, "Hotel Name"] = response_json["results"][0]["name"]
        
    except (KeyError, IndexError):
        
        print("Missing field/result... skipping.")

hotel_df

Missing field/result... skipping.

,City,Country,Max Temp,Latitude,Longitude,Hotel Name
29,Najran,SA,71.60,17.49,44.13,محمد هادي ال فطيح
40,Umm lajj,SA,76.10,25.02,37.27,Tanal Hotel Apartment
105,Pecos,US,79.00,31.42,-103.49,Knights Inn Pecos
141,Saint-philippe,RE,77.00,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
192,Saint-pierre,RE,77.00,-21.34,55.48,Lindsey Hôtel
206,Saint george,US,72.00,37.10,-113.58,Best Western Plus Abbey Inn
222,Bataipora,BR,75.54,-22.30,-53.27,Hotel Vale do Ivinhema
224,Amarpatan,IN,75.36,24.32,80.98,कब्रिस्तान
235,Lom sak,TH,82.00,16.78,101.24,บ้านวรฉัตร หล่มสัก
240,Howard springs,AU,84.00,-12.50,131.05,buffalo beach hostel
247,Kununurra,AU,80.60,-15.77,128.73,Hotel Kununurra
265,Mount isa,AU,82.40,-20.73,139.50,ibis Styles Mt Isa Verona
291,Destin,US,80.60,30.39,-86.50,Inn On Destin Harbor
316,Tezpur,IN,69.55,26.63,92.80,Hotel Kanyapur
317,Ormara,PK,72.36,25.21,64.64,
339,Arlit,NE,84.72,18.74,7.39,Hôtel Telwa Bungalow
343,Inhambane,MZ,73.27,-23.86,35.38,MHL Turismo SA
352,Dawei,MM,75.45,14.08,98.20,Hotel Dawei
358,Bosaso,SO,81.45,11.28,49.18,Red Sea Hotel
363,Inverell,AU,75.99,-29.78,151.12,Sapphire City Motor Inn
364,La palma,US,81.00,33.85,-118.05,La Quinta Inn & Suites by Wyndham Buena Park
365,Ranong,TH,78.10,9.97,98.63,Tinidee Hotel@Ranong
392,Doha,QA,73.40,25.29,51.53,Ezdan Hotel
404,Biltine,TD,82.08,14.53,20.92,Hôtel Trois Étoiles de Biltine
408,Gudalur,IN,70.65,9.68,77.27,Hotel Lemurian Heritage
419,Acajutla,SV,79.00,13.59,-89.83,Villavela Hotel Boutique
420,Qeshm,IR,71.60,26.96,56.27,Kimia IV Hotel
421,Yarada,IN,81.00,17.65,83.27,"D-26/2, Dolphin Hill,"
425,Coxim,BR,79.14,-18.51,-54.76,Hotel Avenida
431,Katherine,AU,82.40,-14.47,132.27,Pine Tree Motel
456,Sao joao da ponte,BR,69.42,-15.93,-44.01,Hotel da Cidade
467,Paliyad,IN,74.57,22.25,71.57,Aditya hotel and restaurant

In [9]:
# Create list of hotels to use for hover_text

hotels = []

for hotel in hotel_df["Hotel Name"]:
    hotels.append(hotel)

print(hotels)

['محمد هادي ال فطيح', 'Tanal Hotel Apartment', 'Knights Inn Pecos', 'Chambres d\'hôte "La Trinité"', 'Lindsey Hôtel', 'Best Western Plus Abbey Inn', 'Hotel Vale do Ivinhema', 'कब्रिस्तान', 'บ้านวรฉัตร หล่มสัก', 'buffalo beach hostel', 'Hotel Kununurra', 'ibis Styles Mt Isa Verona', 'Inn On Destin Harbor', 'Hotel Kanyapur', '', 'Hôtel Telwa Bungalow', 'MHL Turismo SA', 'Hotel Dawei', 'Red Sea Hotel', 'Sapphire City Motor Inn', 'La Quinta Inn & Suites by Wyndham Buena Park', 'Tinidee Hotel@Ranong', 'Ezdan Hotel', 'Hôtel Trois Étoiles de Biltine', 'Hotel Lemurian Heritage', 'Villavela Hotel Boutique', 'Kimia IV Hotel', 'D-26/2, Dolphin Hill,', 'Hotel Avenida', 'Pine Tree Motel', 'Hotel da Cidade', 'Aditya hotel and restaurant']

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [11]:
# Add marker layer ontop of heat map

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info, hover_text = hotels)
fig.add_layer(marker_layer)

# Display Map

fig

Figure(layout=FigureLayout(height='420px'))